{
  "openapi": "3.1.0",
  "info": {
    "title": "DuckDuckGo Search",
    "description": "Search the web using DuckDuckGo. Returns JSON formatted search results. Use this tool to search for real-time information, news, and current events.",
    "version": "v1.0.0"
  },
  "servers": [
    {
      "url": "https://lite.duckduckgo.com"
    }
  ],
  "paths": {
    "/lite/": {
      "get": {
        "operationId": "DuckDuckGoLiteSearch",
        "description": "Search the web for current information. Use this to find real-time news, facts, and data. IMPORTANT: Always include o=json and api=d.js parameters.",
        "deprecated": false,
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Search query keywords",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "o",
            "in": "query",
            "required": true,
            "description": "Output format. MUST be set to 'json'",
            "schema": {
              "type": "string",
              "default": "json"
            }
          },
          {
            "name": "api",
            "in": "query",
            "required": true,
            "description": "API type. MUST be set to 'd.js'",
            "schema": {
              "type": "string",
              "default": "d.js"
            }
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {}
  }
}
